.attribution {
  width: 100%;
  text-align: center;
  padding-block-end: var(--size-sm);

  &__text {
    color: var(--color-neutral-5);
  }
  &__link {
    color: var(--color-primary);

    &:hover {
      color: var(--color-neutral-4);
    }
  }
}
