@use "../abstracts/mixins" as m;

.text {
  font-family: "Space Mono", monospace, sans-serif;

  &--primary {
    color: var(--color-primary);
  }
  &--secondary {
    color: var(--color-neutral-0);
  }
  &--tertiary {
    color: var(--color-neutral-4);
  }

  &--smaller {
    font-size: calc(var(--fs-sm) - 0.1rem);
  }
  &--small {
    font-size: var(--fs-sm);
  }
  &--medium {
    font-size: var(--fs-md);
  }
  &--large {
    font-size: var(--fs-lg);
  }

  &--bold {
    font-weight: var(--fw-bold);
  }

  &--center {
    text-align: center;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &__container {
    @include m.flex(row);
    gap: calc(var(--size-xs) / 3);
  }
}
