// Abstracts (variables, mixins, functions)
@use "./abstracts/mixins" as m;
@use "./abstracts/utilities";

// Base / Reset
@use "./base/reset";
@use "./base/base";

// Components
@use "./components/calculator";
@use "./components/animations";
@use "./components/attribution";
@use "./components/button";
@use "./components/icon";
@use "./components/text";
@use "./components/form";
@use "./components/error";

header {
  @include m.flex(column);
  width: 100%;
  padding-block: calc(var(--size-md) + 1rem);
  @media screen and (min-width: 60rem) {
    padding-block: var(--size-md) var(--size-sm);
  }
}

body {
  @include m.flex(column);
  background: var(--color-neutral-2);
}

main {
  @media screen and (min-width: 60rem) {
    margin-block: auto;
  }
}

footer {
  margin-block-start: var(--size-md);
  @media screen and (min-width: 80rem) {
    margin-block-start: 0;
  }
}
